@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" />
<a asp-action="GetById" asp-controller="Client" class="btn-danger">My Wallet</a>
<a asp-action="Create" asp-controller="Transaction" class="btn-danger">Paymets</a>
<a asp-action="Index" asp-controller="Transaction" class="btn-danger">Paymet History</a>


