@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" />
<a asp-action="GetById" asp-controller="Client" class="btn-danger">My Wallet</a>
<a asp-action="Edit" asp-controller="Client" class="btn-danger">Paymets</a>


